body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

#contenedor{
    border: 0px solid black;
    height: 600px;
    display: grid;
    width: 40%;
    grid-template-rows: 20% 5%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
    grid-template-areas: "celda1 celda2 celda3 celda3"
                         "celda1 celda4 celda5 celda6"
                         "celda7 celda4 celda8 celda8"

}
#contenedor img{
    width: 100%;
    height: 5%;

}
.caja1{
    grid-row: 1/4;
    background-color: white;
}

.caja6{
    background-color: white;
    grid-column: 1/3;
}

.caja2{
    background-color: green;
    grid-row: 1/3;
}
.caja3{
    background-color: yellow;
    grid-row: 1/3;
    
}

.caja4{
    background-color: coral;
    grid-column: 2/4;
}

.caja7{
    background-color: rgb(90, 33, 12);
}

.caja8{
    background-color: pink;
}
.caja9{
    background-color: purple;
}
.caja5{
    background-color: blueviolet;
}
p{
    color: white;
}